In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from matplotlib import font_manager,rc
import seaborn as sns

font_path = "C:/Windows/Fonts/H2GTRM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
plt.rcParams['axes.unicode_minus'] = False
rc('font',family=font)

In [4]:
work = pd.read_csv('../data/경제활동인구_시도_handling.csv',index_col=0,encoding='utf-8')
salary = pd.read_csv('../data/월평균_임금_handling.csv',index_col=0,encoding='utf-8')
people = pd.read_csv('../data/시도별_인구수_데이터_handling.csv',index_col=0,encoding='utf-8')
df = pd.read_csv('../data/지역별_연도별_평당_분양_가격.csv',index_col=0,encoding='utf-8')

In [5]:
people.행정구역.unique()

array(['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
       '경상남도', '제주특별자치도'], dtype=object)

In [6]:
# 지역명 이름 정의
loc = ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
       '경상남도', '제주특별자치도']

In [7]:
df

     지역명    연도   월   평당분양가격
0     서울  2013  12  18189.0
1     부산  2013  12   8111.0
2     대구  2013  12   8080.0
3     인천  2013  12  10204.0
4     광주  2013  12   6098.0
...   ..   ...  ..      ...
1610  전북  2021  11   8976.0
1611  전남  2021  11   9764.7
1612  경북  2021  11  10434.6
1613  경남  2021  11  10692.0
1614  제주  2021  11  22638.0

[1615 rows x 4 columns]

In [8]:
df.지역명 = df.지역명.replace({
    '서울':'서울특별시',
    '부산':'부산광역시',
    '대구':'대구광역시',
    '인천':'인천광역시', 
    '광주':'광주광역시', 
    '대전':'대전광역시', 
    '울산':'울산광역시',       
    '세종':'세종특별자치시', 
    '경기':'경기도', 
    '강원':'강원도', 
    '충북':'충청북도',
    '충남':'충청남도', 
    '전북':'전라북도', 
    '전남':'전라남도', 
    '경북':'경상북도',
    '경남':'경상남도', 
    '제주':'제주특별자치도'
    })

In [9]:
# '지역명'을 '행정구역'으로 통일
df = df.rename(columns={'지역명':'행정구역'})

In [10]:
work.행정구역 = work.행정구역.replace({'제주도':'제주특별자치도'})

In [11]:
work.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    204 non-null    object
 1   년도      204 non-null    int64
 2   인구수     204 non-null    int64
dtypes: int64(2), object(1)
memory usage: 6.4+ KB

In [12]:
work.년도 = work.년도.astype(str)

In [13]:
# 열 이름을 통일
work.rename(columns={'년도':'연도','인구수':'경제활동인구'},inplace=True)

In [14]:
work.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    204 non-null    object
 1   연도      204 non-null    object
 2   경제활동인구  204 non-null    int64
dtypes: int64(1), object(2)
memory usage: 6.4+ KB

In [15]:
people.rename(columns={'년도':'연도'},inplace=True)
people.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    204 non-null    object
 1   연도      204 non-null    int64
 2   인구수     204 non-null    int64
dtypes: int64(2), object(1)
memory usage: 6.4+ KB

In [16]:
salary.rename(columns={'년도':'연도'},inplace=True)
salary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187 entries, 0 to 186
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    187 non-null    object
 1   연도      187 non-null    int64
 2   소득      187 non-null    int64
dtypes: int64(2), object(1)
memory usage: 5.8+ KB

In [17]:
df.연도 = df.연도.astype(str)

In [18]:
# 기준 데이터 'df'에 순차적으로 merge 함
df = df.merge(work,how='left',on=['연도','행정구역'])
df.head(1)

    행정구역    연도   월   평당분양가격   경제활동인구
0  서울특별시  2013  12  18189.0  5355000

In [19]:
people.연도 = people.연도.astype(str)

In [20]:
df = df.merge(people,how='left',on=['연도','행정구역'])
df.head(1)

    행정구역    연도   월   평당분양가격   경제활동인구      인구수
0  서울특별시  2013  12  18189.0  5355000  9990010

In [21]:
salary.연도 = salary.연도.astype(str)

In [22]:
df = df.merge(salary,how='left',on=['연도','행정구역'])
df.head(1)

    행정구역    연도   월   평당분양가격   경제활동인구      인구수   소득
0  서울특별시  2013  12  18189.0  5355000  9990010  316

In [23]:
# 열 제정렬 및 csv 형태로 저장
df_test = df[['행정구역','연도','월','평당분양가격','인구수','경제활동인구','소득']]
df_test.to_csv('../data/지역별_연도별_비교데이터_합본.csv',encoding='utf-8')

In [24]:
df_test

         행정구역    연도   월   평당분양가격      인구수   경제활동인구   소득
0       서울특별시  2013  12  18189.0  9990010  5355000  316
1       부산광역시  2013  12   8111.0  3455734  1737000  252
2       대구광역시  2013  12   8080.0  2475657  1246000  231
3       인천광역시  2013  12  10204.0  2829608  1511000  260
4       광주광역시  2013  12   6098.0  1503835   727000  241
...       ...   ...  ..      ...      ...      ...  ...
1610     전라북도  2021  11   8976.0  1794192   974000  308
1611     전라남도  2021  11   9764.7  1782951  1008000  335
1612     경상북도  2021  11  10434.6  2640965  1457000  345
1613     경상남도  2021  11  10692.0  3317568  1805000  339
1614  제주특별자치도  2021  11  22638.0   673189   395000  290

[1615 rows x 7 columns]